body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.forum-head-Name {
    color:#FFFAFA;
    font-size: 20px;
    margin-left: 5px;
}

.forum-head-links {
    color:#FFFAFA;
    font-size: 20px;
    margin-left: 5px;
}

.forum-head {
    display:block;
    width: 100%;
    font-weight:normal;
    float: none;
    height: 70px;
    margin-top: 10px; 
}

.forum-head-title {
    color:#e9e9e9;
    -webkit-border-radius: 7px 7px 0px 0px;
    background: none repeat-x scroll 0 0 #008B8B;
    /*background: linear-gradient(to top, #006400, #20B2AA*/
}

.forum-head-description {
    height: 37px;
    background: none repeat-x scroll 0 0 #e9e9e9;
 }

/*.forumrow {
    Height: 60px;
    margin-top: 5px;
}*/
.forumrowinfo {
    margin-top: 0;
    line-height: 0.7;
}

.foruminfo {
    /*position: absolute;*/
    width: 60%;
    float: left;
    height: inherit;
    /*border: 10px;*/
    border-bottom: 2px #00ced1;
 /*background: none repeat-x scroll 0 0 #e9e9e9;*/
    /*text-align: -webkit-match-parent;
    font-weight: normal;
    font-size: inherit;
    border-collapse: collapse;
    line-height: 1.230;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;*/
}
.forumdata {
    float:none;
}
.datacontainer {
    margin-left: 0;
}
.forumicon{
    left:7px;
    Height: auto;
    display : inline;
    float: left;
}

.titleline {
    left:10px;
    display : inline;
    vertical-align: top;
    /*float: left;*/
    top: 0;
}
.forum-row-statistic {
    text-align: right;
}

/*.forumlastpost {
    padding-left: 5%;
    width: 25%;
    float: right;
    height: inherit;
    text-align: left;
    line-height: 0.7;
}*/

/*.postrow {
   width: 100%;
   height: auto;
   min-height:90px;
   /*display : inline;
   margin-top: 5px;
   background: #F5F5F5;
 }*/

.postprofile {
    width: 15%;
    float: left;
    /*display: block;*/
    /*margin-left: 5px;*/
    /*margin-right: auto;*/

}
.forumavatar {
    display: block;
    width:  70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.nickname {
    display: block;
    text-align: center;
    margin-left: -5px;
}

.postbody {
    /*padding: 0;*/
    /*line-height: 1.48em;*/
    /*color: #333333;*/
    min-height: inherit;
    width: 85%;
    float: right;
    /*clear: right;*/
 }
.myCustomTextBox {
    width:  200px;
}

.forumrow {
   /*width: 100%;
   height: auto;
   min-height:90px;*/
   /*display : inline;*/
   /*min-height: 80px;*/
   /*Height: 60px;
   margin-top: 5px;*/
   padding-top: 10px;
   padding-left: 0;
   padding-right: 0;
   padding-bottom: 5px;
   margin-top: 2px;
   margin-bottom: 2px;
   /*background: #F5F5F5;*/
 }
.forumrow .btn {
    /*position: absolute;*/
    bottom: 0px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%
}
