body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.forum-head-Name {
    color:#FFFAFA;
    font-size: 20px;
    margin-left: 5px;
}

.forum-head-links {
    color:#FFFAFA;
    font-size: 20px;
    margin-left: 5px;
}

.forum-head {
    display:block;
    width: 100%;
    font-weight:normal;
    float: none;
    height: 70px;
    margin-top: 10px; 
}

.forum-head-title {
    color:#e9e9e9;
    -webkit-border-radius: 7px 7px 0px 0px;
    background: none repeat-x scroll 0 0 #008B8B;
    /*background: linear-gradient(to top, #006400, #20B2AA*/
}

.forum-head-description {
    height: 37px;
    background: none repeat-x scroll 0 0 #e9e9e9;
 }

/*.forumrow {
    Height: 60px;
    margin-top: 5px;
}*/
.forumrowinfo {
    margin-top: 0;
    line-height: 0.7;
    width: 30%; 
}

.foruminfo {
    /*position: absolute;*/
    width: 90%;
    float: left;
    height: inherit;
    margin-top: 5px;
    /*border: 10px;*/
    border-bottom: 2px #00ced1;
 /*background: none repeat-x scroll 0 0 #e9e9e9;*/
    /*text-align: -webkit-match-parent;
    font-weight: normal;
    font-size: inherit;
    border-collapse: collapse;
    line-height: 1.230;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;*/
}
.forumdata {
    float:none;
}
.datacontainer {
    margin-left: 0;
}
.forumicon{
    left:10px;
    Height: auto;
    display : inline;
    float: left;
}

.titleline {
    left:10px;
    display : inline;
    vertical-align: top;
    /*float: left;*/
    top: 0;
}
.forum-row-statistic {
    text-align: right;
    padding-right: 0px; 
    padding-left: 0px;
    /*float: left;*/
}
.lastpost {
    padding-right: 1%; 
}

.postprofile {
    float: left;
}
.forumavatar {
    max-width:  70px;
    max-height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.nickname {
    display: block;
    text-align: center;
    margin-left: -5px;
    margin-top: 10px;
}

.postbody {
    min-height: inherit;
    width: 90%;
    float: right;
 }
.myCustomTextBox {
    width:  200px;
}

.forumrow {
   width: 100%;
   height: auto;
   min-height:90px;
   padding-top: 10px;
   padding-left: 0;
   padding-right: 0;
   padding-bottom: 5px;
   margin-top: 2px;
   margin-bottom: 2px;
 }
.forumrow .btn {
    bottom: 0px;
}

.media-margin-left {
	padding-right: 0;
    margin-left: 5px;
}

.stats{
    padding-left: 0;
}

.forumwell {
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.forumtable {
    border-width: 0px;
    border-style: solid none none solid;
}
.forum-input {
    max-width: 200px;
}

.forum-photo {
    max-width: 70px;
}
.forum-photo-buttom {
    text-align: center;
    min-width: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.well-forum-row {
    margin-bottom: 0;
    margin-top: 3px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%
}
