
@model MyForum.Web.MVC.Models.MainCategoriesViewModel

<div>
    @foreach (var topicCategory in Model.TopicCategories)
    {
        Html.RenderAction("GetTopicCategoryPartial", "TopicCategory", topicCategory);
    }
</div>

