@model IEnumerable<MyForum.Web.MVC.Models.TopicCategoriesViewModel.TopicCategoriesViewModel>
@{
    ViewBag.Title = "_ForumTopicCategoriesPartial";
}

@foreach (var category in Model)
{
    <tbody>
        <tr>
            <td class="text-left">
                <h4 class="list-group-item-heading">@Html.ActionLink(category.Name, "TopicCategories/" + category.Id, "TopicCategories")</h4>
                <p class="list-group-item-text">@category.Description</p>
            </td>
    </tbody>
}
