@using MyForum.Data.Core.Models
@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h1>Main</h1>
    </div>
</div>

@{ Html.RenderAction("GetListMainCategoriesPartial");}



